@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}

/* Variables */

:root {
    --main-color: #ff6d46;
    --second-color: #ecfdf8;
    --text-color: #121011;
    --bg-color: #fff;

    /* Box  Shadow */
    --box-shadow: 0 0 16px 1px rgb(14 52 54 / 15%);
}
